<ion-header>

  <ion-navbar color="secondary">
    <ion-title>List of nearby shops</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-list>
		<!-- <ion-item *ngFor="let location of locations.data">
			<ion-avatar item-left>
				<ion-icon name="pin"></ion-icon>
			</ion-avatar>
			<h2>{{location.title}}</h2>
			<p>{{location.distance}} km</p>
		</ion-item> -->
    <ion-item *ngFor="let Shop of this.locations.data">
      <h2>{{Shop.ShopName}} </h2>
      <p>{{Shop.distance}} km</p>

    </ion-item>
      <button round (click)="sendId()">Round Button</button>
	</ion-list>

</ion-content>
