page-bagatelle{
  .tool-css{
    background-color: #CD853F;
  }
  .slide-css{
    margin-top: -80px;
    opacity: 0.7;
  }
  .title-css{
    text-align: center;
  }
  .bg-css{
    background: linear-gradient(white, peru);
  }
 h2{
   padding-left: auto;
   display: inline;
   padding-bottom: auto;

 }
 ion-thumbnail{
   display: inline;
 }
 img{
   display: inline;
 }
  // .list-css{
  //   opacity: 0.3;
  // }
}
